# Regular dependencies
antropy==0.1.9
imbalanced_learn==0.12.4
keras==2.13.1
matplotlib==3.10.3
mne==1.9.0
numpy==1.24.3
pandas==2.3.0
pyyaml==6.0.2
scikit_learn==1.7.0
scipy==1.15.3
seaborn==0.13.2
setuptools==80.9.0
tqdm==4.67.1
pydot==3.0.4


# TensorFlow dependencies (platform-dependent)
# tensorflow==2.16.2 ; sys_platform != 'darwin'
# tensorflow-cuda==12.2 ; sys_platform != 'darwin'  # GPU support on non-macOS platforms

# macOS-specific TensorFlow dependencies
# tensorflow-macos ; sys_platform == 'darwin'
# tensorflow-metal ; sys_platform == 'darwin'
# tensorflow-deps ; sys_platform == 'darwin'

# Local package (editable mode)
# -e .

# Manually install the macOS-specific TensorFlow dependencies
# conda install -c apple tensorflow-deps


# Important notes:
# conda remove --name gait_modulation --all -y
# conda create --name gait_modulation python=3.10
# conda activate gait_modulation
# pip install -r requirements.txt