# Regular dependencies
antropy==0.1.6
imbalanced-learn==0.12.4
keras==3.9.0
matplotlib==3.8.4
mne==1.7.1
numpy==1.26.4
pandas==2.2.1
scikit-learn==1.2.2 # 1.6.1
scipy==1.13.0
setuptools==69.5.1
tqdm==4.66.4
seaborn==0.13.2
pyyaml==6.0.2


# TensorFlow dependencies (platform-dependent)
# tensorflow==2.16.2 ; sys_platform != 'darwin'
# tensorflow-cuda==12.2 ; sys_platform != 'darwin'  # GPU support on non-macOS platforms

# macOS-specific TensorFlow dependencies
# tensorflow-macos ; sys_platform == 'darwin'
# tensorflow-metal ; sys_platform == 'darwin'
# tensorflow-deps ; sys_platform == 'darwin'

# Local package (editable mode)
# -e .

# Manually install the macOS-specific TensorFlow dependencies
# conda install -c apple tensorflow-deps


# Important notes:
# conda remove --name gait_modulation --all -y
# conda create --name gait_modulation python=3.10
# conda activate gait_modulation
# pip install -r requirements.txt